.header
	
.header-top
	background-color: #454445
	
.header-top__list
	display: flex
	justify-content: flex-end
	li
		display: inline-block
		margin-left: 16px
	ul :nth-child(4)
		background-color: $orange
		padding: 1px 11px
		border-radius: 5px
	a
		color: #fff

.header-middle
	display: flex
	justify-content: space-between

// modal
.header-middle__btn
	margin: auto 0
	.btnn
		display: block
		border: 1px solid $green
		padding: 6px 20px
		border-radius: 23px
		color: $green
		&:hover
			background-color: $green
			color: #fff

	.modal-window
		position: fixed
		background-color: rgba(61, 60, 61, 0.75)
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 999
		opacity: 0
		pointer-events: none
		-webkit-transition: all 0.3s
		-moz-transition: all 0.3s
		transition: all 0.3s

	.modal-window:target
		opacity: 1
		pointer-events: auto

	.modal-window>div
		border: 5px solid $orange
		width: 400px
		position: relative
		margin: 10% auto
		padding: 2rem
		background: #fff
		color: #444

	.modal-close
		color: #aaa
		line-height: 50px
		font-size: 80%
		position: absolute
		right: 0
		text-align: center
		top: 0
		width: 70px
		text-decoration: none
		border: 0

	.modal-close:hover
		color: $orange

	.feedback
		form
			display: flex
			flex-direction: column
			margin: 30px 0
			input
				margin-bottom: 20px
				padding: 6px 20px
			label
				padding-bottom: 5px
			& :nth-last-child(1)
				margin-top: 40px
				margin-bottom: 0px
				display: block
				border: 0
				padding: 6px 20px
				color: #fff
				background-color: $orange
				border: 1px solid $orange
				&:hover
					background-color: #fff
					color: $orange
					border: 1px solid $orange


		// width: 250px
		// margin: 0 auto
		// input
		// 	display: block
		// 	border: 0
		// 	padding: 6px 20px
		// 	color: #fff
		// 	background-color: $orange
		// 	border: 1px solid $orange
		// 	&:hover
		// 		background-color: #fff
		// 		color: $orange
		// 		border: 1px solid $orange


// end modal
	
.header-middle__logo
	margin: auto 0

.header-middle__text
	margin: auto 0
	p
		margin: 0

.btn
	margin: auto 0
	a
		display: block
		border: 1px solid $green
		padding: 6px 20px
		border-radius: 23px
		color: $green
		&:hover
			background-color: $green
			color: #fff

.header-middle__contacts
	p:nth-child(1)
		margin: 10px 0
		font-size: 25.5px

	a:nth-child(2)
		color: $orange
		margin: 0
		font-size: 17px
		border-bottom: 1px solid transparent
		transition: all 0.3s ease
		&:hover
			color: $orange
			border-bottom: 1px solid $orange
			
	p:nth-child(3)
		margin: 0
		font-size: 15.1px
		margin-bottom: 10px

.header-bottom
	border-top: 1px solid $border_color
	box-shadow: 0px 9px 20px 0px rgba(45, 44, 45, 0.24)

.header-bottom__list
	display: flex
	justify-content: space-between
	li
		padding: 10px 0
	a
		border-bottom: 1px solid transparent
		transition: all 0.3s ease	
		&:hover
			color: $orange
			border-bottom: 1px solid $orange