.content
	margin-top: 25px
	display: flex
	justify-content: space-between

.sidebar
	width: 275px

.sidebar-state
	border: 1px solid $border_color
	border-radius: 10px
	box-shadow: 0px 4px 9px 0px rgba(45, 44, 45, 0.20)
	margin-bottom: 20px
	p
		margin: 30px 0 20px
		text-align: center

.sidebar-fastorder
	border: 1px solid $border_color
	border-radius: 10px
	box-shadow: 0px 4px 9px 0px rgba(45, 44, 45, 0.20)
	margin-bottom: 20px

.sidebar-news
	border: 1px solid $border_color
	border-radius: 10px
	box-shadow: 0px 4px 9px 0px rgba(45, 44, 45, 0.20)
	margin-bottom: 20px

.section
	width: 820px

	
	
	
// //main-slider
// .main-slider
// 	.slick-dots
// 		margin: 0
// 		padding: 0
// 		list-style-type: none
// 		position: absolute
// 		bottom: 20px
// 		left: 50%
// 		transform: translateX(-50%)
// 		li 
// 			margin: 0 10px
// 			display: inline-block
// 			&.slick-active
// 				button
// 					width: 15px
// 					height: 15px
// 			button
// 				cursor: pointer
// 				-webkit-appearance: none
// 				display: inline-block
// 				vertical-align: middle
// 				padding: 0
// 				width: 8px
// 				height: 8px
// 				background-color: #FFF
// 				text-indent: -99999px
// 				border: none
// 				border-radius: 50%
// 				&:focus
// 					outline: none

// .main-slider__i
// 	height: calc(100vh - 68px)
// 	background-repeat: no-repeat 
// 	background-position: center center
// 	background-size: cover

// .main-slider__i-wrap
// 	height: 100%
// 	display: flex
// 	align-items: center

// .main-slider__i-text
// 	color: #fff
// 	h3
// 		margin: 0 0 20px
// 		font-size: 70px
// 		background-color: $green
// 		padding: 0 15px
// 	p 
// 		margin: 0
// 		font-size: 24px
		


// //tours
// .tours__i
// 	float: left
// 	width: 25%
// 	padding: 15px


// .tours__i-card
// 	box-shadow: 0 0 12px rgba(0,0,0,0.1)

// .tours__i-img
// 	img
// 		display: block
// 		width: 100%
// 		height: auto

// .tours__i-text
// 	background-color: #FFF
// 	padding: 12px 10px

// .tours__i-name
// 	margin-bottom: 20px
// 	min-height: 40px

// .tours__i-more
// 	text-align: right
// 	a
// 		text-decoration: none
// 		background-color: $green
// 		color: #fff
// 		padding: 10px 15px
// 		display: inline-block
// 		text-transform: uppercase
// 		font-size: 13px
// 		&:hover
// 			background-color: darken($green,10%);

// //team
// .team
// 	display: flex
// 	justify-content: space-around
// 	max-width: 960px
// 	margin: 0 auto

// .team__i
// 	text-align: center

// .team__i-img
// 	width: 150px
// 	margin: 0 auto 10px
// 	img
// 		width: 100%
// 		height: auto
// 		border-radius: 50%

// .team__i-name
// 	font-weight: 700
// 	margin-bottom: 5px

// .team__i-pos
// 	font-size: 16px

// //video
// .video
// 	display: flex
// 	justify-content: space-around

// .video__i
// 	width: 47%

// //map
// .map
// 	background-color: #f8f8f8
// 	height: 450px