.header
	.header-top
		.wrap.header-top__list
			ul
				li
					a(href="#") Регистрация
				li
					a(href="") Вход
				li
					a(href="") Корзина
				li
					a(href="") 0
	.wrap.header-middle
		.header-middle__logo
			a(href="index.html")
				img(src="images/logo.png", alt="Online print")

		.header-middle__text
			p Круглосуточная онлайн <br>типография

		.header-middle__btn.btn
			a(href="#") Онлайн калькулятор

		.header-middle__contacts
			p.header-middle__contacts-tel +7 (831) 123-45-67
			a(href="#") заказать обратный звонок
			p время работы: круглосуточно

	.header-bottom
		ul.wrap.header-bottom__list
			li
				a(href="/aboutus.html") О нас
			li
				a(href="/kalk.html") Онлайн калькулятор
			li
				a(href="/uslugi.html") Дополнительные услуги
			li
				a(href="/paydelevery.html") Оплата и доставка
			li
				a(href="/akcii.html") Акции
			li
				a(href="/contacts.html") Контакты
			li
				a(href="/textrebovania.html") Технические требования