//- .header
//- 	.wrap.header__wrap
//- 		a.header__logo(href="#") Kawaii tours
//- 		ul.header__menu
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#about") О нас
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#tours") Туры
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#team") Наша команда
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#video") Как это было
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#contact") Контакты
.header
	.header__top
		.wrap.header__top-list
			ul
				li
					a(href="#") Регистрация
				li
					a(href="") Вход
				li
					a(href="") Корзина
				li
					a(href="") 0
	.wrap.header__middle
		a(href="#")
			img(src="images/logo.png", alt="Online print")
		span Круглосуточная онлайн <br>типография
		div
		div
	.header__bootom