.header
	.wrap.header__wrap
		a.header__logo(href="#") Kawaii tours
		ul.header__menu
			li.header__menu-i
				a.js-scroll-link(href="#about") О нас
			li.header__menu-i
				a.js-scroll-link(href="#tours") Туры
			li.header__menu-i
				a.js-scroll-link(href="#team") Наша команда
			li.header__menu-i
				a.js-scroll-link(href="#video") Как это было
			li.header__menu-i
				a.js-scroll-link(href="#contact") Контакты