//- .header
//- 	.wrap.header__wrap
//- 		a.header__logo(href="#") Kawaii tours
//- 		ul.header__menu
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#about") О нас
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#tours") Туры
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#team") Наша команда
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#video") Как это было
//- 			li.header__menu-i
//- 				a.js-scroll-link(href="#contact") Контакты
.header
	.header__top
		.wrap.header__top-list
			ul
				li
					a(href="#") Регистрация
				li
					a(href="") Вход
				li
					a(href="") Корзина
				li
					a(href="") 0
	.wrap.header__middle
		.header__middle-logo
			a(href="#")
				img(src="images/logo.png", alt="Online print")

		.header__middle-text
			p Круглосуточная онлайн <br>типография

		.header__middle-btn
			a(href="#") Онлайн калькулятор

		.header__middle-contacts
			p.header__middle-contacts-tel +7 (831) 123-45-67
			a(href="#") заказать обратный звонок
			p время работы: круглосуточно

	.header__bottom 