.header
	.header-top
		.wrap.header-top__list
			.header-top__list-social
				a(href="#")
					img(src="images/instagram.png", alt="")
				a(href="#")
					img(src="images/facebook.png", alt="")
				a(href="#")
					img(src="images/vk.png", alt="")
				a(href="#")
					img(src="images/whatsapp.png", alt="")
			.header-top__list-enter
				a(href="") Регистрация
				a(href="") Вход
				a(href="") Корзина
				a(href="") 0
	.wrap.header-middle
		.header-middle__logo
			a(href="index.html")
				img(src="images/logo.png", alt="Online print")

		.header-middle__text
			span Круглосуточная онлайн <br>типография

		.header-middle__btn
			a.btn.btn-info(href="#open-modal") Заказ в 1 клик
			.modal-window#open-modal
				div
					a.modal-close(href="#modal-close" tittle="Close") Закрыть
					.feedback
						form(action="feedback")
							label(for="1") Ваш телефон
							input(type="text" name="Tiraz" id="1")
							label(for="1") Ваш email
							input(type="text" name="Tiraz" id="1")
							label(for="1") Дополнительня информация
							input(type="text" name="Tiraz" id="1")
							input.btn.btn-cta(type="submit" value="Отправить заказ")

		.header-middle__contacts.flex-column
			span.header-middle__contacts-tel + 7 (831) 123-45-67
			a.btn-link-orange(href="#") заказать обратный звонок
			span время работы: круглосуточно

	.header-bottom
		ul.wrap.header-bottom__list
			li
				a.btn.btn-link-dark(href="aboutus.html") О нас
			li
				a.btn.btn-link-dark(href="calc.html") Онлайн калькулятор
			li
				a.btn.btn-link-dark(href="uslugi.html") Дополнительные услуги
			li
				a.btn.btn-link-dark(href="paydelevery.html") Оплата и доставка
			li
				a.btn.btn-link-dark(href="akcii.html") Акции
			li
				a.btn.btn-link-dark(href="contacts.html") Контакты
			li
				a.btn.btn-link-dark(href="textrebovania.html") Технические требования