header.header
    .headertop
        .wrap
            .headertop__social.flex-space
                .social
                    a.social__link(href="#")
                        img.social__pic(src="/images/vk.png", alt="vk")
                    a.social__link(href="#")
                        img.social__pic(src="/images/instagram.png", alt="instagram")
                    a.social__link(href="#")
                        img.social__pic(src="/images/facebook.png", alt="facebook")
                    a.social__link(href="#")
                        img.social__pic(src="/images/whatsapp.png", alt="whatsapp")
                .headertop__enter
                    a.headertop__list.cursor(onclick="document.getElementById('id01').style.display='block'" style="width:auto;") Регистрация
                    // modal signup
                    .modal#id01
                        .signup
                            span.modal__close(onclick="document.getElementById('id01').style.display='none'" title="Close Modal") &times
                            form.form.modal__content(action="")
                                .form__header.signup__form-title Регистрация
                                .form__footer
                                    .form-row.flex-column
                                        span.form__error Необходимо заполнить поле
                                        label.label(for="signup_email") Email
                                        input.input.form__required(type="text" id="signup_email")
                                    .form-row.flex-column
                                        span.form__error Необходимо заполнить поле
                                        label.label(for="psw") Пароль
                                        input.input.form__required(type="password" id="psw")
                                    .form-row.flex-column
                                        span.form__error Необходимо заполнить поле
                                        label.label(for="psw-repeat") Повторите пароль
                                        input.input.form__required(type="password" id="psw-repeat")
                                    .flex-center
                                        button.button.button_view-action.form__submit Зарегестрировать
                    // modal enter
                    a.headertop__list.cursor(onclick="document.getElementById('id02').style.display='block'" style="width:auto;") Вход    
                    .modal#id02
                        .enter
                            span.modal__close(onclick="document.getElementById('id02').style.display='none'" title="Close Modal") &times
                            form.form.modal__content(action="/action_enter.php")
                                .form__header.enter__form-title Вход
                                .form__footer
                                    .form-row.flex-column
                                        span.form__error Необходимо заполнить поле
                                        label.label(for="enter_email") Введите ваш логин
                                        input.input.form__required(type="text" name="enter_email" required)
                                    .form-row.flex-column
                                        span.form__error Необходимо заполнить поле
                                        label.label(for="psw") Введите ваш пароль
                                        input.input.form__required(type="password" name="psw" required)
                                    .flex-center
                                        button.button.button_view-action.form__submit(type="submit") Войти
                    a.headertop__list(href="/bascet.html") Корзина
                    a.headertop__list.headertop__list-view_orange(href="#") 0

    .headermiddle
        .wrap.flex-space
            .logo.headermiddle__logo
                a(href="/index.html")
                    img(src="images/logo.svg", alt="Online print")
                span Полиграфический онлайн сервис

            .headermiddle__city.flex-column
                a.link.headermiddle__city-chouse(href="#") Нижний Новгород
                span.headermiddle__text Выберите свой город для<br>отображения актуальной стоимости

            .headermiddle__button
                a.button.button_view-action(href="/download.html") Быстрый заказ
            .flex-column
                span.headermiddle__tel +7 (831) 123-45-67
                a.cursor.headermiddle__feedback.link_view-orange(onclick="document.getElementById('id03').style.display='block'" style="width:auto;") заказать обратный звонок
                // feedback_modal
                .modal#id03
                    span.modal__close(onclick="document.getElementById('id03').style.display='none'" title="Close Modal") &times
                    .feedback.flex-space.wrap.gap-vertical.flex-center.fadeInLeft.animated.wow
                        form(action="").form.column-4
                            .form__header.feedback__header Связаться с нами
                            .form__footer
                                .flex-space
                                    .flex-column.column-3
                                        span.form__error Необходимо заполнить поле
                                        label.label(for="feedback_name-modal") Ваше имя
                                        input.input.feedback__width.form__required(type="text" id="feedback_name-modal")
                                    .flex-column.column-3
                                        span.form__error Необходимо заполнить поле
                                        label.label(for="feedback_email-modal") Ваш email
                                        input.input.form__required(type="text" id="feedback_email-modal")
                                label.label(for="feedback_subject-modal") Тема обращения
                                input.input(type="text" id="feedback_subject-modal")
                                label.label(for="text" name="feedback_text-modal") Текст
                                textarea.input(type="text" id="feedback_text-modal")
                                button.button.button_view-action.form__submit Отправить
                span.headermiddle__time время работы: круглосуточно
    .headerbottom
        .wrap.flex-space
            .dropdown.headerbottom__dropdown
                .dropdown__button.cursor ПРОДУКЦИЯ И УСЛУГИ
                .dropdown__content
                    span.dropdown__popular.flex-end Популярное
                    // Визитки
                    .dropdown__link.cursor Визитки
                        .dropdown-subnav
                            h3.dropdown-subnav__title Печать визиток
                            .flex-space
                                .dropdown-subnav__col-left
                                    form(action="calc.php", method="post").dropdown-subnav__form.flex-column
                                        span.dropdown-subnav__span-size Размер
                                        select.select(name="size") 
                                            option(value="90x50") 90x50 мм
                                            option(value="90x50") 85x55 мм
                                        span.dropdown-subnav__span-cmyk Цветность
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk", checked)
                                            span 
                                                t Ч/б односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Ч/б двухсторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная двухсторонняя
                                    .dropdown-subnav__more
                                        a(href="/calculator.html").link Больше опций
                                .dropdown-subnav__col-right
                                    table
                                        tr
                                            th
                                                span Количество
                                            th
                                                span Цена
                                        tr
                                            td
                                                span 100 шт.
                                            td
                                                span 390
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 200 шт.
                                            td
                                                span 540
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 300 шт.
                                            td
                                                span 690
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 500 шт.
                                            td
                                                span 1300
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 1000 шт.
                                            td
                                                span 1600
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 2000 шт.
                                            td
                                                span 2400
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 5000 шт.
                                            td
                                                span 5500
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                    // Листовки
                    .dropdown__link.cursor(href="") Листовки
                        .dropdown-subnav
                            h3.dropdown-subnav__title Печать листовок
                            .flex-space
                                .dropdown-subnav__col-left
                                    form(action="calc.php", method="post").dropdown-subnav__form.flex-column
                                        span.dropdown-subnav__span-size Размер
                                        select.select(name="size") 
                                            option(value="90x50") 90x50 мм
                                            option(value="90x50") 85x55 мм
                                        span.dropdown-subnav__span-cmyk Цветность
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk", checked)
                                            span 
                                                t Ч/б односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Ч/б двухсторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная двухсторонняя
                                    .dropdown-subnav__more
                                        a(href="/calculator.html").link Больше опций
                                .dropdown-subnav__col-right
                                    table
                                        tr
                                            th
                                                span Количество
                                            th
                                                span Цена
                                        tr
                                            td
                                                span 100 шт.
                                            td
                                                span 390
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 200 шт.
                                            td
                                                span 540
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 300 шт.
                                            td
                                                span 690
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 500 шт.
                                            td
                                                span 1300
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 1000 шт.
                                            td
                                                span 1600
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 2000 шт.
                                            td
                                                span 2400
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 5000 шт.
                                            td
                                                span 5500
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                    // Буклеты
                    .dropdown__link.cursor(href="") Плакаты
                        .dropdown-subnav
                            h3.dropdown-subnav__title Печать плакатов
                            .flex-space
                                .dropdown-subnav__col-left
                                    form(action="calc.php", method="post").dropdown-subnav__form.flex-column
                                        span.dropdown-subnav__span-size Размер
                                        select.select(name="size") 
                                            option(value="90x50") 90x50 мм
                                            option(value="90x50") 85x55 мм
                                        span.dropdown-subnav__span-cmyk Цветность
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk", checked)
                                            span 
                                                t Ч/б односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Ч/б двухсторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная двухсторонняя
                                    .dropdown-subnav__more
                                        a(href="/calculator.html").link Больше опций
                                .dropdown-subnav__col-right
                                    table
                                        tr
                                            th
                                                span Количество
                                            th
                                                span Цена
                                        tr
                                            td
                                                span 100 шт.
                                            td
                                                span 390
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 200 шт.
                                            td
                                                span 540
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 300 шт.
                                            td
                                                span 690
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 500 шт.
                                            td
                                                span 1300
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 1000 шт.
                                            td
                                                span 1600
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 2000 шт.
                                            td
                                                span 2400
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 5000 шт.
                                            td
                                                span 5500
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                    // Брошюры
                    .dropdown__link.cursor(href="") Буклеты
                        .dropdown-subnav
                            h3.dropdown-subnav__title Печать буклетов
                            .flex-space
                                .dropdown-subnav__col-left
                                    form(action="calc.php", method="post").dropdown-subnav__form.flex-column
                                        span.dropdown-subnav__span-size Размер
                                        select.select(name="size") 
                                            option(value="90x50") 90x50 мм
                                            option(value="90x50") 85x55 мм
                                        span.dropdown-subnav__span-cmyk Цветность
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk", checked)
                                            span 
                                                t Ч/б односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Ч/б двухсторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная двухсторонняя
                                    .dropdown-subnav__more
                                        a(href="/calculator.html").link Больше опций
                                .dropdown-subnav__col-right
                                    table
                                        tr
                                            th
                                                span Количество
                                            th
                                                span Цена
                                        tr
                                            td
                                                span 100 шт.
                                            td
                                                span 390
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 200 шт.
                                            td
                                                span 540
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 300 шт.
                                            td
                                                span 690
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 500 шт.
                                            td
                                                span 1300
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 1000 шт.
                                            td
                                                span 1600
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 2000 шт.
                                            td
                                                span 2400
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 5000 шт.
                                            td
                                                span 5500
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                    //  Брошюры                               
                    .dropdown__link.cursor(href="") Брошюры
                        .dropdown-subnav
                            h3.dropdown-subnav__title Печать брошюр
                            .flex-space
                                .dropdown-subnav__col-left
                                    form(action="calc.php", method="post").dropdown-subnav__form.flex-column
                                        span.dropdown-subnav__span-size Размер
                                        select.select(name="size") 
                                            option(value="90x50") 90x50 мм
                                            option(value="90x50") 85x55 мм
                                        span.dropdown-subnav__span-cmyk Цветность
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk", checked)
                                            span 
                                                t Ч/б односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Ч/б двухсторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная односторонняя
                                        label.dropdown-subnav__radio
                                            input(type="radio", name="cmyk")
                                            span 
                                                t Цветная двухсторонняя
                                    .dropdown-subnav__more
                                        a(href="/calculator.html").link Больше опций
                                .dropdown-subnav__col-right
                                    table
                                        tr
                                            th
                                                span Количество
                                            th
                                                span Цена
                                        tr
                                            td
                                                span 100 шт.
                                            td
                                                span 390
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 200 шт.
                                            td
                                                span 540
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 300 шт.
                                            td
                                                span 690
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 500 шт.
                                            td
                                                span 1300
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 1000 шт.
                                            td
                                                span 1600
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 2000 шт.
                                            td
                                                span 2400
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                                        tr
                                            td
                                                span 5000 шт.
                                            td
                                                span 5500
                                            td
                                                a(href="#").button.button_view-action.dropdown-subnav__view-button
                                                    img(src="/images/shopping.png", alt="shopping")
                    span.dropdown__popular.flex-end Услуги
                    .dropdown__link.cursor(href="") Разработка дизайна
                    .dropdown__link.cursor(href="") Срочная печать

            .headerbottom__right.flex-end
                a(href="/calculator.html").dropdown__button.headerbottom__link ОНЛАЙН КАЛЬКУЛЯТОР
                a(href="/download.html").dropdown__button.headerbottom__link ПРОВЕРКА МАКЕТА
                .dropdown
                    .dropdown__button.cursor ИНФОРМАЦИЯ
                    .dropdown__content
                        a.dropdown__link(href="/about.html") О нас
                        a.dropdown__link(href="/demans.html") Технические требования
                        a.dropdown__link(href="/delevery.html") Доставка
                        a.dropdown__link(href="/contacts.html") Контакты