.header
	.header__top
		.wrap.header__top-list
			ul
				li
					a(href="#") Регистрация
				li
					a(href="") Вход
				li
					a(href="") Корзина
				li
					a(href="") 0
	.wrap.header__middle
		.header__middle-logo
			a(href="#")
				img(src="images/logo.png", alt="Online print")

		.header__middle-text
			p Круглосуточная онлайн <br>типография

		.header__middle-btn
			a(href="#") Онлайн калькулятор

		.header__middle-contacts
			p.header__middle-contacts-tel +7 (831) 123-45-67
			a(href="#") заказать обратный звонок
			p время работы: круглосуточно

	.header__bottom
		ul.wrap.header__bottom-list
			li
				a(href="#") О нас
			li
				a(href="#") Онлайн калькулятор
			li
				a(href="#") Дополнительные услуги
			li
				a(href="#") Оплата и доставка
			li
				a(href="#") Акции
			li
				a(href="#") Контакты
			li
				a(href="#") Технические требования