header.header

    .headertop

        .wrap.flex-space

            .social.headertop__social
                a.social__link(href="#")
                    img.social__pic(src="/images/vk.png", alt="vk")
                a.social__link(href="#")
                    img.social__pic(src="/images/instagram.png", alt="instagram")
                a.social__link(href="#")
                    img.social__pic(src="/images/facebook.png", alt="facebook")
                a.social__link(href="#")
                    img.social__pic(src="/images/whatsapp.png", alt="whatsapp")

            .headertop__enter
                a.headertop__list(href="#") Регистрация
                a.headertop__list(href="#") Вход
                a.headertop__list(href="#") Корзина
                a.headertop__list.headertop__list_orange(href="#") 0
    
    .headermiddle

        .wrap.flex-space

            .logo.headermiddle__logo
                a(href="#")
                    img(src="images/logo.svg", alt="Online print")
                span Полиграфический онлайн сервис

            .headermiddle__city.flex-column
                a.link.headermiddle__city-chouse(href="#") Нижний Новгород
                span.headermiddle__text Выберите свой город для<br>отображения актуальной стоимости

            .headermiddle__button
                a.button.button_view-action(href="#") Быстрый заказ
                
            .flex-column
                span.headermiddle__tel +7 (831) 123-45-67
                a.headermiddle__feedback.link_view-orange(href="#") заказать обратный звонок
                span.headermiddle__time время работы: круглосуточно

    .headerbottom

        .headerbottom__navbar.wrap.flex-space

            .headerbottom__left
                button.headerbottom__button ПРОДУКЦИЯ И УСЛУГИ
                .headerbottom__content
                    a.headerbottom__link(href="") Визитки
                    a.headerbottom__link(href="") Листовки
                    a.headerbottom__link(href="") Плакаты
                    a.headerbottom__link(href="") Буклеты
                    a.headerbottom__link(href="") Брошюры

            .headerbottom__right-menu.flex-end
                .dropdow
                    span Продукция и услуги
                    span Продукция и услуги
                    span Продукция и услуги