aside.sidebar
    .sidebar-menu
        span.menu-name Вся продукция
        a.sidebar-menu__i(href="card.html")
            span.menu__item-caption Визитки
            img(src="images/id-card.png", alt="")
        a.sidebar-menu__i(href="listovki.html")
            span.menu__item-caption Листовки
            img(src="images/flyer.png", alt="")
        a.sidebar-menu__i(href="buklet.html")
            span.menu__item-caption Буклеты
            img(src="images/buklet.png", alt="")
        a.sidebar-menu__i(href="plakat.html")
            span.menu__item-caption Плакаты
            img(src="images/poster.png", alt="")
        a.sidebar-menu__i(href="kalendari.html")
            span.menu__item-caption Календари
            img(src="images/calendar.png", alt="")
        a.sidebar-menu__i(href="broshura.html")
            span.menu__item-caption Брошюры
            img(src="images/brochure.png", alt="")
        a.sidebar-menu__i(href="book.html")
            span.menu__item-caption Книги
            img(src="images/book.png", alt="")
        a.sidebar-menu__i(href="pechati.html")
            span.menu__item-caption Изготовление печатей
            img(src="images/stamp.png", alt="")
    .sidebar-state
        p Узнать состояние заказа
        form
            input(type="text")
    .sidebar-fastorder
        a(href="#")
            img(src="images/download.png", alt="download")
        p Загрузить файлы<br> для срочного заказа
    .sidebar-news
        h3 Новости
        h4 20 апреля
        p В Online print началась сезонная распродажа
        h4 18 марта
        p Мы победили в конкурсе на лучшую типографию Нижнего Новгорода!
        h4 5 марта
        p Скидки девушкам в честь 8 марта до 50%!
        h4 22 февраля
        p Скидки мужчинам в честь 23 февраля до 50%!
        h4 15 января
        p Действует дополнительная скидка на комплексные заказы!
        a(href="#") Все новости