aside.sidebar
    .sidebar-menu
        span.menu-name Вся продукция
        a.sidebar-menu__i(href="#")
            span.menu__item-caption Визитки
        a.sidebar-menu__i(href="#")
            span.menu__item-caption Листовки
        a.sidebar-menu__i(href="#")
            span.menu__item-caption Буклеты
        a.sidebar-menu__i(href="#")
            span.menu__item-caption Плакаты
        a.sidebar-menu__i(href="#")
            span.menu__item-caption Календари
        a.sidebar-menu__i(href="#")
            span.menu__item-caption Брошюры
        a.sidebar-menu__i(href="#")
            span.menu__item-caption Книги
        a.sidebar-menu__i(href="#")
            span.menu__item-caption Изготовление печатей
    .sidebar-state
        p Узнать состояние заказа
        form
            input(type="text")
    .sidebar-fastorder
        a(href="#")
            img(src="images/download.png", alt="download")
        p Загрузить файлы<br> для срочного заказа
    .sidebar-news
        h3 Новости
        h4 20 апреля
        p В Online print началась сезонная распродажа
        h4 18 марта
        p Мы победили в конкурсе на лучшую типографию Нижнего Новгорода!
        h4 5 марта
        p Скидки девушкам в честь 8 марта до 50%!
        h4 22 февраля
        p Скидки мужчинам в честь 23 февраля до 50%!
        h4 15 января
        p Действует дополнительная скидка на комплексные заказы!
        a(href="#") Все новости