.formProduct__table-header
  border-collapse: collapse

.formProduct__table-footer
  border-collapse: collapse

.formProduct__thead-decribe 
  background-color: #f8f8f8
  color: $pcolor
  padding-left: 10px
  height: 30px
  width: 765px

.formProduct__thead-price
  background-color: #f8f8f8
  color: $pcolor
  padding-left: 10px
  font-weight: 400
  height: 30px
  width: 125px

.formProduct__thead-sum
  background-color: #f8f8f8
  color: $pcolor
  padding-left: 10px
  font-weight: 400
  height: 30px
  width: 125px

.formProduct__thead-action
  background-color: #f8f8f8
  color: $pcolor
  padding-left: 10px
  font-weight: 400
  height: 30px
  width: 125px

.formProduct__tbody

.formProduct__tbody-decribe

.formProduct__tbody-price
  padding-left: 10px
  font-weight: 400
  height: 30px
  width: 125px

.formProduct__tbody-sum
  padding-left: 10px
  font-weight: 400
  height: 30px
  width: 125px

.formProduct__tbody-action
  padding-left: 10px
  font-weight: 400
  height: 30px
  width: 125px

.formProduct__tbody-decribeTotal
  background-color: #f8f8f8
  height: 60px
  width: 765px

.formProduct__tbody-priceTotal
  background-color: #f8f8f8
  color: $pcolor
  padding-left: 10px
  font-weight: 400
  height: 60px
  width: 125px

.formProduct__tbody-sumTotal
  background-color: #f8f8f8
  color: $pcolor
  padding-left: 10px
  font-weight: 400
  height: 60px
  width: 125px

.formProduct__tbody-actionTotal
  background-color: #f8f8f8
  color: $pcolor
  padding-left: 10px
  font-weight: 400
  height: 60px
  width: 125px

.formProduct__footer
  width: 342px

.formProduct__footer-span
  padding: 30px 10px
  font-size: 22px

.formProduct__footer-btn
  margin-bottom: 30px
  margin-left: 20px

.formProduct__img
  margin: 10px

.formProduct__name
  margin-top: 50px
  margin-left: 10px
  font-weight: 900

.formProduct__volum
  margin-left: 10px