.headertop
    background-color: $dark

.headertop__enter
    margin: auto 0

.headertop__list
    list-style-type: none
    display: inline
    margin-left: 10px
    color: #fff
    text-decoration: none
    &:hover
        color: $orange

.headertop__list_orange
    background-color: $orange
    padding: 4px
    border-radius: 2px
