.headertop
    background-color: $dark

.headertop__enter

.headertop__list
    list-style-type: none
    display: inline
    padding: 5px 0 5px 10px

.headertop__list_orange
    background-color: $orange