mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Типография онлайн "Online print"
		//css
		link(rel="stylesheet" href="css/style.min.css")

		//fonts
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=cyrillic" rel="stylesheet")
	body
		.page
			//header
			include blocks/header

			//content
			.wrap.content
				include blocks/sidebar.pug

				section.section
					h1.titleficha Акции
					.section-text
						h2 Акция №1
						p Вам часто приходилось сталкиваться с ситуациями, когда новым клиентам рады, но скидку не дают? Но это не про типографию ONLINEPRINT. Только этой весной в нашей типографии действует скидка всем новым клиента- 10%.
						a(href="#open-modal") Заказать
					.section-text
						h2 Акция №2
						p Заказывай больше - плати меньше! В этом месяце в нашей типографии действуют очень выгодные сезонные скидки для тех, кто "играет по-крупному": закажите до 31.05 у нас от 5.000 буклетов, брошюр или листовок и получите скидку на 2й заказ- 15%.
						a(href="#open-modal") Заказать
					.section-text
						h2 Акция №3
						p При комплексном заказе с тиражом более 10.000 экземпляров, мы дарим вам бесплатную доставку до дверей вашего офиса или до ТК.
						a(href="#open-modal") Заказать
					

			// footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'slick.min.js', 'main.js'])


//- Акции
//- Вам часто приходилось сталкиваться с ситуациями, когда новым клиентам рады, но скидку не дают? Но это не про типографию ONLINEPRINT. Только этой весной в нашей типографии действует скидка всем новым клиента- 10%
//- Заказывай больше - плати меньше! В этом месяце в нашей типографии действуют очень выгодные сезонные скидки для тех, кто "играет по-крупному": закажите до 31.05 у нас от 5.000 буклетов, брошюр или листовок и получите скидку на 2й заказ- 15% 
//- При комплексном заказе с тиражом более 10.000 экземпляров, мы дарим вам бесплатную доставку до дверей вашего офиса или до ТК.