mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Типография онлайн "Online print"
		//css
		link(rel="stylesheet" href="css/style.min.css")
		//fonts
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		// Favicon
		link(href="images/favicon.ico" type="image/x-icon" rel="shortcut icon")
		// animate css
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
		script(src="js/wow.min.js")
		script.
			new WOW().init();

	body.body
		//header
		include blocks/header.pug
		//content
		.content
			// stepControl
			.stepControl.wrap.flex-start.gap-vertical
				.stepControl__step1
					img.stepControl__img(src="images/stepControl/basket.png", alt="basket")
					| Корзина
				.stepControl__step2
					img.stepControl__img(src="images/stepControl/listing.png", alt="basket")
					| Вход/Регистрация
				.stepControl__step3
					img.stepControl__img(src="images/stepControl/shipped.png", alt="basket")
					| Доставка
				.stepControl__step4
					img.stepControl__img(src="images/stepControl/piggybank.png", alt="basket")
					| Оплата	
			// formProduct
			form.formProduct.wrap
				.formProduct__header
					table.formProduct__table-header
						thead.formProduct__thead
							tr
								th.formProduct__thead-decribe 
									| Описание
								th.formProduct__thead-price 
									| Цена
								th.formProduct__thead-sum 
									| Сумма
								th.formProduct__thead-action
									| Действие
						tbody.formProduct__tbody
							tr
								th.formProduct__tbody-decribe
									.flex-start
										img.formProduct__img(src="/images/plakat.png", alt="product")
										.flex-column
											span.formProduct__name Плакат
											span.formProduct__volum Количество 500 шт.
								th.formProduct__tbody-price
									| 500
								th.formProduct__tbody-sum
									| 1500
								th.formProduct__tbody-action
									| x
					table.formProduct__table-footer
						tbody.formProduct__tbody
							tr
								th.formProduct__tbody-decribeTotal
								th.formProduct__tbody-priceTotal
									| 500
								th.formProduct__tbody-sumTotal
									| 1500
								th.formProduct__tbody-actionTotal
				.flex-end
					.formProduct__footer
						.formProduct__footer-span.flex-space
							span Всего:
							span 500 &#8381
						.flex-end
							.button.button_view-action.formProduct__footer-btn(onclick="document.getElementById('id01').style.display='block'" style="width:auto;") Зарегестрироваться и заказать
							.button.button_view-info.formProduct__footer-btn(onclick="document.getElementById('id02').style.display='block'" style="width:auto;") Войти и заказать




				.formProduct__footer









		// footer
		.body__footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'main.js', 'slick.min.js', 'calculator.js'])
		