mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Типография онлайн "Online print"
		//css
		link(rel="stylesheet" href="css/style.min.css")

		//fonts
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=cyrillic" rel="stylesheet")
	body
		.page
			//header
			include blocks/header

			//content
			.wrap.content
				aside.sidebar
					.sidebar-state
						p Узнать состояние заказа
						form
							input(type="text")
					.sidebar-fastorder
						a(href="#")
							img(src="images/download.png", alt="download")
						p Загрузить файлы<br> для срочного заказа
					.sidebar-news
						h3 Новости
						h4 20 апреля
						p В Online print началась сезонная распродажа
						h4 18 марта
						p Мы победили в конкурсе на лучшую типографию Нижнего Новгорода!
						h4 5 марта
						p Скидки девушкам в честь 8 марта до 50%!
						h4 22 февраля
						p Скидки мужчинам в честь 23 февраля до 50%!
						h4 15 января
						p Действует дополнительная скидка на комплексные заказы!
						a(href="#") Все новости

				section.section
					.section-banner
						.section-banner__text
							p САМОЕ ВРЕМЯ
							p ПЕЧАТАТЬ
							p СЕЗОННЫЕ СКИДКИ ДО -70%

					// Каталог
					h1 Какая продукция вас интересует?

					.section-katalog
						a(href="#").section-katalog__card.section-katalog--wrap.hvr-wobble-vertical
							p от 0.5 &#8381
							p Визитки
						a(href="#").section-katalog__listovki.section-katalog--wrap.hvr-wobble-vertical
							p от 0.5 &#8381
							p Визитки
						a(href="#").section-katalog__buklet.section-katalog--wrap.hvr-wobble-vertical
							p от 0.5 &#8381
							p Визитки
						a(href="#").section-katalog__plakat.section-katalog--wrap.hvr-wobble-vertical
							p от 0.5 &#8381
							p Визитки
						a(href="#").section-katalog__kalendar.section-katalog--wrap.hvr-wobble-vertical
							p от 0.5 &#8381
							p Визитки
						a(href="#").section-katalog__broshura.section-katalog--wrap.hvr-wobble-vertical
							p от 0.5 &#8381
							p Визитки
						a(href="#").section-katalog__book.section-katalog--wrap.hvr-wobble-vertical
							p от 0.5 &#8381
							p Визитки
						a(href="#").section-katalog__pechat.section-katalog--wrap.hvr-wobble-vertical
							p от 0.5 &#8381
							p Визитки
						a(href="#").section-katalog__more.section-katalog--wrap.hvr-wobble-vertical
							p Все категории
					
					//Отзывы
					h1 Отзывы наших клиентов

					.section-otziv.js-slider-otziv
						.section-otziv__i
							.otziv-wrapper
								.section-otziv__i--text
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque officiis, repellendus omnis inventore reprehenderit dolores non molestias asperiores. Nemo necessitatibus est perspiciatis numquam sed libero, officia voluptates aperiam iusto.
								.section-otziv__i--photo
									img(src="images/vala.png", alt="")
									p Оксана Победова
									p Аптечная сеть "Валли" 
						.section-otziv__i
							.otziv-wrapper
								.section-otziv__i--text
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque officiis, repellendus omnis inventore reprehenderit dolores non molestias asperiores. Nemo necessitatibus est perspiciatis numquam sed libero, officia voluptates aperiam iusto.
								.section-otziv__i--photo
									img(src="images/miha.png", alt="")
									p Михаил Дрозд
									p Пекарня "У дома"
						.section-otziv__i
							.otziv-wrapper
								.section-otziv__i--text
									p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								.section-otziv__i--photo
									img(src="images/kate.png", alt="")
									p Екатерина Александрова
									p SPA салон "Желание"

					// Клиенты
					h1 Наши клиенты

					.section-klient.js-slider-klient
						img(src="images/logo/alfa-bank.png", alt="")
						img(src="images/logo/gazprom.png", alt="")
						img(src="images/logo/kamaz.png", alt="")
						img(src="images/logo/sberbank.png", alt="")
						img(src="images/logo/leroy_merlin.png", alt="")
						img(src="images/logo/magnit.png", alt="")
						img(src="images/logo/meridian.png", alt="")
						img(src="images/logo/pyaterochka_.png", alt="")
						img(src="images/logo/vtb.png", alt="")

					// Наше оборудование
					h1 Оборудование

			// footer
			include blocks/footer.pug
					

			//- .main-slider.js-main-slider
			//- 	.main-slider__i
			//- 			.main-slider__i-text
			//- 				h3 Осень в Японии
			//- 				p Для ценителей яркой красоты
			//- 				img(src="/images/banner.jpg", alt="")
			//- 	.main-slider__i(style="background-image: url(/images/listovki.jpg);")
			//- 			.main-slider__i-text
			//- 				h3 Храмы и пагоды
			//- 				p Путешествие к истокам
			//- 	.main-slider__i(style="background-image: url(/images/pechat.jpg);")
			//- 			.main-slider__i-text
			//- 				h3 Фудзи-сан
			//- 				p Лучшие точки для съёмок
			
			//- //about
			//- section.page-section#about
			//- 	.wrap
			//- 		h1 Индивидуальные журы в Японию
			//- 		.page-section__text
			//- 			p Kawaii Tour специализируется на путешествиях по Японии, куда редко отправляются российские туристы. Мы изучаем все возможные маршруты, исключая «туристические ловушки», и создаем яркие путешествия, которые не оставят равнодушными даже самых искушенных. Мы не сторонники классических туристических программ, основным пунктом которых является утомительное скитание по музеям – ведь ни история страны, ни культура нации не могут уместиться в рамки одного или нескольких зданий. Мы отдаем предпочтение скрытым от глаз обычного туриста достопримечательностям, о существовании которых можно узнать исключительно из уст местных жителей.
			//- 			p Участники наших путешествий – это те, кого не заманишь горящими турами и all-inclusive. Это любознательные, активные люди, которые знают, что настоящие путешествия – это знакомство с культурой страны и бытом местных жителей, а не томительное ожидание ужина на пляже. Для них главное – понять страну. Именно этих людей мы называем путешественниками, и именно для них мы придумали Kawaii Tour.

			//- //tours
			//- section.page-section.page-section--grey#tour
			//- 	.wrap
			//- 		h2 Туры
			//- 		p.page-section__subtitle Вы можете выбрать одну из стандартных программ или мы вместе придумаем совершенно новое приключение.
			//- 		.tours.clearfix
			//- 			.tours__i
			//- 				.tours__i-card
			//- 					.tours__i-img
			//- 						a(href="#")
			//- 							img(src="images/tour1.jpg", alt="")
			//- 					.tours__i-text
			//- 						.tours__i-name По следам самураев
			//- 						.tours__i-more
			//- 							a(href="#") Подробнее
			//- 			.tours__i
			//- 				.tours__i-card
			//- 					.tours__i-img
			//- 						a(href="#")
			//- 							img(src="images/tour2.jpg", alt="")
			//- 					.tours__i-text
			//- 						.tours__i-name Что скрывают японские храмы
			//- 						.tours__i-more
			//- 							a(href="#") Подробнее
			//- 			.tours__i
			//- 				.tours__i-card
			//- 					.tours__i-img
			//- 						a(href="#")
			//- 							img(src="images/tour3.jpg", alt="")
			//- 					.tours__i-text
			//- 						.tours__i-name Искусство японских садов
			//- 						.tours__i-more
			//- 							a(href="#") Подробнее
			//- 			.tours__i
			//- 				.tours__i-card
			//- 					.tours__i-img
			//- 						a(href="#")
			//- 							img(src="images/tour4.jpg", alt="")
			//- 					.tours__i-text
			//- 						.tours__i-name По следам самураев
			//- 						.tours__i-more
			//- 							a(href="#") Подробнее
			
			//- //team
			//- section.page-section#team
			//- 	.wrap
			//- 		h2 Наша команда
			//- 		p.page-section__subtitle Открываем Японию для вас!
			//- 		.team
			//- 			.team__i
			//- 				.team__i-img
			//- 					img(src="images/p1.jpg", alt="")
			//- 				.team__i-name Екатерина Славина
			//- 				.team__i-pos Менеджер
			//- 			.team__i
			//- 				.team__i-img
			//- 					img(src="images/p2.jpg", alt="")
			//- 				.team__i-name Егор Мальцов
			//- 				.team__i-pos Путешественник и создатель
			//- 			.team__i
			//- 				.team__i-img
			//- 					img(src="images/p3.jpg", alt="")
			//- 				.team__i-name Юки Киото
			//- 				.team__i-pos Консультант




		//scripts
		+scripts(['jquery-3.2.1.min.js', 'slick.min.js', 'main.js'])
