mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Типография онлайн "Online print"
		//css
		link(rel="stylesheet" href="css/style.min.css")

		//fonts
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=cyrillic" rel="stylesheet")
	body
		.page
			//header
			include blocks/header

			//content
			.wrap.content
				include blocks/sidebar.pug

				section.section
					h1.titleficha Оплата и доставка
					.section-text
						h2 Способы оплаты
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus veritatis ducimus vitae dignissimos eum, voluptatibus porro necessitatibus id eveniet nobis ullam rerum maiores? Molestiae itaque aliquid illo nulla deserunt repellendus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus veritatis ducimus vitae dignissimos eum, voluptatibus porro necessitatibus id eveniet nobis ullam rerum maiores? Molestiae itaque aliquid illo nulla deserunt repellendus.
					.section-text
						h2 Способы доставки
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus veritatis ducimus vitae dignissimos eum, voluptatibus porro necessitatibus id eveniet nobis ullam rerum maiores? Molestiae itaque aliquid illo nulla deserunt repellendus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus veritatis ducimus vitae dignissimos eum, voluptatibus porro necessitatibus id eveniet nobis ullam rerum maiores? Molestiae itaque aliquid illo nulla deserunt repellendus.
			// footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'slick.min.js', 'main.js'])
