mixin scripts(scripts)
	each src in scripts
		- src = 'js/' + src;
		script(src=src)
			
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1180")
		title Типография онлайн "Online print"
		//css
		link(rel="stylesheet" href="css/style.min.css")

		//fonts
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=cyrillic" rel="stylesheet")
	body
		.page
			//header
			include blocks/header

			//content
			.wrap.content
				include blocks/sidebar.pug

				section.section
					h1.titleficha Дополнительные услуги нашей типографии
					.section-text
						h2 Срочная печать в Нижнем Новгороде
						p Для типографии ONLINEPRINT на самой высоте по приоритетности стоит задача удовлетворения всего спектра потребностей в полиграфических услугах. Поэтому, наряду с тем, что мы предлагаем нашим клиентам широчайший выбор продукции на любой вкус и цвет, мы так же принимаем заказы 24 часа в сутки, 7 дней в неделю. И ко всему вышесказанному, можно воспользоваться услугой срочной печати, если Вы хотите получить свой заказ в кратчайшие сроки.
						a(href="#") Заказать
					.section-text
						h2 Разработка и корректировка макетов
						p Благодаря тому, что в нашей типографии работают только квалифицированные специалисты, к Вашим услугам их компетентная помощь в доработке Ваших макетов. Вам всего лишь нужно отправить нам черновик ваших макетов, а уже наши специалисты, связавшись с Вами и, выслушав все Ваши пожелания, сделают конечный макет в соответствии с тем, какой бы Вы хотели видеть продукцию на выходе. Неоспоримым плюсом работы с нашими дизайнерами является то, что совместная разработка макета значительно ускорит его выпуск в тираж, минуя всевозможные ошибки, которые могли бы возникнуть при разработке макета заказчиком самостоятельно.
						a(href="#") Заказать
					.section-text
						h2 Проверка макетов на соответствие тех требованиям
						p В том случае, если Вы все же решились сделать макет собственными силами, мы так же перед началом печати должны удостовериться, что технические возможности нашего оборудования позволяют оказать Вам всю полноту типографических услуг, исходя из сложности дизайна Вашего макета. И даже если, Ваш макет не совсем соответствует нашим техническим требованиям,  Вы всегда сможете воспользоваться нашей дополнительной услугой "Разработка и корректировка макетов". И уже после доработки макета Вы сможете заказать у нас печать полиграфической продукции.
						a(href="#") Заказать
			
			// footer
			include blocks/footer.pug

		//scripts
		+scripts(['jquery-3.2.1.min.js', 'slick.min.js', 'main.js'])
